
/* Селектори класу */
.centered{
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-40%, -50%);
}

.carousel-img {
    -webkit-filter: brightness(50%); /* Safari 6.0 - 9.0 */
    filter: brightness(50%);
}

/* Універсальний слектор */
*.btn {
    border-radius: 20px;
}

.site-logo {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 38px;
    line-height: 40px;
}

.navbar-nav {
    margin-left: 50px;
}

footer {
    margin-top: 100px; 
    width: 98.5%; 
    background-color:  rgb(236, 236, 178);
}

.popular-books-text {
    margin-bottom: 30px;
    margin-top: 50px;
    text-align: center;

}

.card {
    float: left;
    margin-right: 48px;
    border-radius: 8px;
    background: rgb(236, 236, 178);
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 10%);
    
}

.card-img-top {
    margin: 0;
    border-radius: 2px;
    box-shadow: 2px 2px 7px rgb(0 0 0 / 30%);
}

.card-img-inner {
    padding: 10px 10px 0 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-body {
    text-align: center;
}

/* Ідентифікатор */
#old-price {
    font-size: 1.3rem;
    font-weight: 100;
    color: #6c757d;
}

/* Сусідні селектори */
s + span {
    color: red;
}

/* Дочірні селектори */
p > em {
    font-weight: 500;
}

/* Селектор тегу */
svg {
    margin-bottom: 4px;
}

/* Списки */
li {
    display: list-item;
    text-align: -webkit-match-parent;
    list-style-type: none;
}

/* Селектор атрибута */
input[type="text"] {
    border-radius: 10px;
    background-color: rgb(252, 251, 210);;
}